{{ define "main" }}

<!-- begin authors -->
<section class="authors">

  <div class="authors__head">
    <h1 class="authors__title">Women's 50</h1>
  </div>

  <div class="authors__inner animate">
    <div class="container">
      <div class="row">
        <div class="col col-4 col-d-6 col-t-12">
          <div class="authors__info">
            <a class="authors__image" href="#"><img class="lazy" data-src="image1.jpg" alt="Author 1"></a>
            <h2 class="authors__name"><a class="authors__link" href="#">Author 1</a></h2>
            <div class="authors__description">Description 1</div>
          </div>
        </div>
        <div class="col col-4 col-d-6 col-t-12">
          <div class="authors__info">
            <a class="authors__image" href="#"><img class="lazy" data-src="image2.jpg" alt="Author 2"></a>
            <h2 class="authors__name"><a class="authors__link" href="#">Author 2</a></h2>
            <div class="authors__description">Description 2</div>
          </div>
        </div>
        <div class="col col-4 col-d-6 col-t-12">
          <div class="authors__info">
            <a class="authors__image" href="#"><img class="lazy" data-src="image3.jpg" alt="Author 3"></a>
            <h2 class="authors__name"><a class="authors__link" href="#">Author 3</a></h2>
            <div class="authors__description">Description 3</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- end authors -->

{{ end }}