<section class="hero">
  <div class="col col-12 col-d-12 hero-section">
      <div class="col col-12 col-d-12">
          <img src="https://images.unsplash.com/photo-1560518883-ce09059eeffa?q=80&w=2273&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="{{ .Site.Title}}" style="width: 100%; height: auto;">
      </div>
      <div class="col col-12 col-d-12">
          <div class="widget-footer widget-info hero-section_content">
          <h3 class="widget-info__title">Empowering Growth Through Strategic Investments</h3>
          <p class="widget-info__desc">
              By leveraging our extensive market expertise 
              and innovative financial strategies, we ensure tailored solutions that align with your 
              investment goals.
              Whether you are looking to diversify your portfolio, expand your property holdings, 
              or capitalize on new opportunities, we are your trusted partners in navigating the 
              complexities of real estate investment.
          </p>
          </div>
      </div>
  </div>
</section>